<%- include('../partials/head') %>
<body class="bg-gray-900 text-white">
  <%- include('../partials/header') %>

  <div class="container mx-auto mt-10">
    <h1 class="text-4xl text-center font-bold mb-6 animate-bounce">
      Book Your Stay
    </h1>
  </div>
</body>
